$ss-line-height: 19px !default;
$ss-border-width: 1px !default;
$ss-spacing: 24px !default;

$ss-highlight-color: rgb(242, 244, 248) !default;
$ss-selected-option-background: linear-gradient(to bottom, #fefefe, #f2f2f2) !default;
$ss-dropdown-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) !default;

$ss-standard-border: $ss-border-width solid #d0d0d0 !default;

$ss-padding-right: 30px;
$ss-spacing-small: 6px !default;
$ss-spacing-smaller: 6px !default;
$ss-spacing-tiny: 6px !default;

// Hide real select boxes which have seen styled.
select[data-ss-uuid] {
	display: none;
	pointer-events: none;
}

select {
	outline: none;
	font-size: 20px;
}

.style-select {
	display: block;
	position: relative;
	outline: none;

	// Set reasonable defaults on this element and its children
	&, * {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		text-align: left;
		line-height: $ss-line-height;
		color: black;
		font-weight: 400;
		cursor: pointer;
	}

	.ss-selected-option {
		outline: none;
		width: 100%;
		background-image: $ss-selected-option-background;
		border-radius: 2px;
		padding: $ss-spacing-tiny;
		padding-right: $ss-padding-right;
		border: $ss-standard-border;
		// The down arrow
		&::after {
			content: "▼";
			font-size: 12px;
			position: absolute;
			top: $ss-spacing-smaller + 2;
			right: $ss-spacing-small;
			display: block;
		}
	}

	.ss-dropdown {
		top: $ss-line-height + 2 * $ss-spacing-tiny + $ss-border-width;
		left: 0;
		z-index: 100;
		position: absolute;
		float: left;
		width: 100%;
		display: none;
		box-shadow: $ss-dropdown-shadow;
		border: $ss-standard-border;
		border-top: 0 none;
		overflow-y: auto;

		.ss-option {
			font-weight: 300;
			width: 100%;
			padding: $ss-spacing-tiny;
			background-color: white;
			margin-right: 20px;
		}

		// We don't use :hover as that's only for mouse
		// and we want keyboard highlighting too
		.ss-option.highlighted {
			background-color: $ss-highlight-color;
		}

		.ss-option.disabled {
			color: #d0d0d0;
		}

		.ss-option.ticked::before {
			content: "▸";
			padding-right: 3px;
		}
	}

	&.open {
		.ss-dropdown {
			display: block;
		}
		.ss-selected-option::after {
			content: "▲";
			font-size: 12px;
			top: $ss-spacing-smaller;			
		}
	}

}
