.interactive-tool {
	/* INPUTS */
	.buttonGroup {
		text-align: center;
		button {
			display: inline-block;
			outline: none;
			font-size: 16px;
			padding: 4px 5px 3px 5px;
			background-color: white;
			border-color: #606060;
			border-style: solid;
			border-width: 1px 1px 1px 0;
			cursor: pointer;
			width: 100px;			
		}

		button:first-child {
			border-radius: 3px 0 0 3px;			
			border-width: 1px;
		}

		button:last-child {
			border-radius: 0 3px 3px 0;
		}
	}

	button.active {
		background-color: #FFFFCC;
		font-weight: bold;
	}

	/* LEGEND */
	.dashboard_legend {
		text-align: center;		
		font-size: 14px;
		padding: 4px 0;

		.dashboard_legend_group {
			display: inline-block;
			vertical-align: top;
			margin-bottom: 3px;
		}

		.dashboard_legend_item {
			display: inline-block;
			padding: 0 12px 0 3px;
			vertical-align: top;
			line-height: 20px;

			div {
				display: inline-block;
				vertical-align: top;
			}
		}

		.colorBorder {
			border: 1px solid #AAA;
		}

		.dashboard_legend_text {
			line-height: 20px;
			position: relative;
		}

		.dashboard_legend_icon {
			display: inline-block;			
			position: relative;
			top: 0px;
			height: 20px;
			width: 20px;
		}

		.dashboard_legend_square {
			height: 20px;
			width: 20px;
			line-height: 18px;
			text-align: center;
			position: relative;
			margin-right: 3px;
		}
	}

	@media(max-width: 400px) {
		.legend_item {
			font-size: 11px;
			width: 90px;			
		}
	}
}